__pycache__/
boost_track/external/
boost_track/data/
brt_data/
dataset/
INIT_BoostTrack/
runs/
bus_dataset/
images/
models/
subway_dataset/
viz_output/
eval_outputs/
extracted_images/
extracted_images_3frames/
FN_FP_ex/
.venv/
*.avi